.btn {
  background: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

&--orange {
  background: $mainOrange;
}

&--large {
  text-shadow: 2px 2px 0 rgba(0,0,0,.1);
  padding: 1.1rem 1.9rem;

  @mixin atSmall {
    font-size: 1.35rem;
  }
}
}
